html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    max-width: 100%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}


/*All in the heading*/

header {
    display: flex;
    background-color: #88CCF1;
    align-items: center;
    justify-content: space-between;
}

header .profile {
    display: flex;
    justify-content: flex-end;
}

header img {
    width: 6rem;
    height: 6rem;
}

header h2 {
    width: 20rem;
    font-size: 3rem;
    height: 3rem;
    color: white;
}

header .logos {
    display: flex;
    align-items: center;
}

input[type=search] {
    width: 27rem;
    height: 3.5rem;
    border: 2px solid #1E585C;
    border-radius: 10px;
}

input[type=submit] {
    width: 6rem;
    height: 3.5rem;
    border-radius: 10px;
    background-color: #194A4D;
    color: white;
}

input[type=submit]:hover {
    transition: .5s;
    color: #194A4D;
    background-color: white;
    cursor: pointer;
}

header .toplinks a:first-child {
    margin: 0 .5rem;
}

header a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
}

header a:hover {
    opacity: 50%;
    transition: .5s;
}


/*Title*/

h1 {
    font-size: 10rem;
    text-align: center;
    color: #1E585C;
    margin: 0 0 10rem 0;
}


/*Four main things*/

.topics {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.topic {
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem;
}

.topic img {
    width: 50rem;
    height: 50rem;
}

.topic img:hover {
    opacity: 50%;
    transition: .5s;
}

.topic h2 {
    font-size: 5rem;
    text-align: center;
    color: #194A4D;
    text-decoration: none;
}

.topic a {
    text-decoration: none;
    color: #194A4D;
}

.topic .wait {
    cursor: wait;
}

.topic p {
    font-size: 1.8rem;
    text-align: center;
    color: blueviolet;
}

@media(max-width:1024px) {
    header .logos h2 {
        font-size: 3rem;
        width: 18rem;
    }
    header img {
        width: 3rem;
        height: 3rem;
    }
    header .logos {
        justify-content: flex-start;
    }
    input[type=search] {
        width: 15rem;
    }
}

@media(max-width:812px) {
    header .logos h2 {
        font-size: 1.6rem;
        width: 9rem;
    }
    form {
        text-align: center;
        width: 10rem;
    }
    input[type=search] {
        width: 10rem;
    }
    input[type=submit] {
        width: 5rem;
    }
    header .toplinks {
        width: 8rem;
    }
    header .toplinks a {
        font-size: 1.6rem;
    }
    header .toplinks a:first-child {
        margin: 0 0;
    }
    header .profile {
        height: 5rem;
        width: 5rem;
    }
    h1 {
        font-size: 5rem;
        margin: 0 0 2rem 0;
    }
    .topic img {
        height: 20rem;
        width: 20rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
    .topic {
        padding: 0 5rem;
        margin: 0 auto;
    }
    .topic h2 {
        font-size: 3rem;
    }
    .topic p {
        font-size: 1.6rem;
    }
}